<h2 class="text-center">Nome: <%= @user.nome %></h2>
<h3 class="text-center">Email: <%= @user.email %></h2>
<h3 class="text-center">Cargo: <%= @user.cargo %></h2>
<h3 class="text-center">Salário: <%= @user.salário %></h2>
