<navbar class="navbar-default navbar-fixed-top home-navbar">
    <div class="navbar-content">
        <div class="main-logo">
            <a href="/"><img alt="Logo Livima" src="/assets/navbar-logo.png"></a>
        </div>
        <div class="right-side-navbar">
            <div class="link-to-pages">
                <a href="/users/sign_in">Entrar</a></li>
                <a href="/users/sign_out">Sair</a></li>

            </div>
        </div>
    </div>
</navbar>