<select class="form-control" id="select" name="search_filter">
  <option value="pornome">Por nome</option>
  <option value="poremail">Por email</option>
  <option value="porcargo">Por cargo</option>
</select>
