<h1>Equipe Livima</h1>
<h4>Consulte seu perfil de funcionário, gerencie membros da equipe como administrador, e muito mais!</h4>

<%= image_tag  "https://www.klipfolio.com/sites/all/themes/klipfolio_theme/img/illustrations/illustration-partner-community.svg", class: "home-img" %>